<!-- Begin Buttondown Signup Form -->

<h2>Want to hear more from me?</h2>
<hr>
<p>
Subscribe to my newsletter!
My thoughts on what I'm reading and learning, delivered once every two weeks.<br>
More information <a href="https://buttondown.email/eigenfoo/archive/hello-and-welcome/">here</a>.
Newsletter archive <a href="https://buttondown.email/eigenfoo/archive/">here</a>.
</p>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/eigenfoo"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/eigenfoo', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <input style="border: 1px solid" type="email" name="email" id="bd-email">
  <input type="hidden" value="1" name="embed"></input>
  <input type="submit" value="Subscribe"></input>
</form>

<!--End mc_embed_signup-->
